<%= form_for(:session, url: sessions_path, method: 'post') do |f| %>
  <div class="row"><div class="small-12 small-centered columns">
  <%= f.label :username %><br />
  <%= f.text_field :username %><br />
  </div></div>
  <div class="row"><div class="small-12 small-centered columns">
  <%= f.label :password %><br />
  <%= f.password_field :password %><br />
  </div></div>
  <% if !@otp_disabled %>
    <div class="row"><div class="small-3 small-centered columns">
    <%= f.label :two_factor_authentication %>
    <%= f.text_field :two_factor_authentication, :disabled => @otp_disabled %>
    </div></div>
  <% end %>

  <%= f.submit "Log in", class: "button" %>
<% end %>
