<br />
<br />
<div class="row">
  <div class="small-6 small-centered columns text-center">
    <% if signed_in? %>
      <% if @user.secure_files.any? %>
        <h3>Uploaded Files</h3>
        <%= render @user.secure_files %>
      <% else %>
        <p> You have no uploaded files yet </p>
      <% end %>
    <% else %>
      <%= form_for(:session, url: sessions_path, method: 'post') do |f| %>
        <%= f.label :username %><br />
        <%= f.text_field :username %><br />
        <%= f.label :password %><br />
        <%= f.text_field :password %><br />
        <%= f.label :two_factor_authentication %><br />
        <%= f.text_field :two_factor_authentication %><br />
        <%= f.submit "Log in", class: "button" %>
      <% end %>
    <% end %>
  </div>
</div>
