<% provide(:title, @user.username) %>

<div class="row">
  <div class="small-6 small-centered columns text-center">
    <h1>User Profile</h1>
      <p><%= gravatar_for @user %></p>
      <p><%= @user.username %></p>
      <p><%= @user.name %></p>
      <p><%= @user.email %></p>
      <p> Scan this image with Google Authenticator for TFA </p>
      <%= render "qrcode" %>
  </div>
</div>
