<li>
  <div class="content">
    <%= link_to "#{secure_file.file.url.split("/").last}",  secure_file.file.url %>
  </div>
  <div class="content">Name: <%= secure_file.name %></div>
  <div class="content">Description: <%= secure_file.description %></div>
  <div class="content">Shared by: <%= secure_file.shared_by %></div>
  <span class="timestamp">
    <%= time_ago_in_words(secure_file.created_at) %> ago.
  </span>
  <div><%= link_to("delete?", secure_file, method: :delete, title: secure_file.name) %></div>
</li>
