<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Secure File Transfer" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <% if @secure_voip %>
            <h1><%= link_to "Secure VoIP", new_secure_voip_path %></h1>
          <% else %>
            <h1><%= link_to "Secure File Transfer", home_path %></h1>
          <% end %>
        </li>
      </ul>

      <section class="top-bar-section">
        <ul class="left">
          <li class="has-dropdown">
            <a href="#">other services</a>
            <ul class="dropdown">
              <% if @secure_voip %>
              <li><%= link_to "Secure File Transfer", home_path %></li>
              <% else %>
              <li><%= link_to "Secure VoIP", new_secure_voip_path %></li>
              <% end %>
            </ul>
          </li>
        </ul>
        <!-- Left Nav Section -->
        <ul class="right">
          <% if signed_in? %>
            <li class="has-dropdown">
              <%= link_to "Profile", current_user %>
              <ul class="dropdown">
                <li> <%= link_to "Edit Profile", edit_user_path(current_user) %></li>
              </ul>
            </li>
            <li> <%= link_to "Log out", logout_path, method: "delete" %></li>
          <% else %>
            <li> <%= link_to "Log in", login_path %></li>
          <% end %>
          <!--<li><a href="#">Left Nav Button</a></li> -->
        </ul>
      </section>
    </nav>
    <br />
<div class="row">
  <div class="small-10 small-centered columns text-center">
    <% flash.each do |key, value| %>
      <p class="flash <%= key %>"><%= value %></p>
    <% end %>
  </div>
</div>

    <%= yield %>


    <%= javascript_include_tag "application" %>
  </body>
</html>
